<a href="https://colab.research.google.com/github/2403A51L17/2403A51L17_Batch--51_PDS/blob/main/E_commerce_Sales_Data_Manipulation_Using_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    'Order ID': [101, 102, 103, 104, 105, 106],
    'Product': ['Laptop', 'Mobile', 'Headphones', 'Laptop', 'Tablet', 'Mobile'],
    'Quantity': [2, 5, 10, 1, 3, 4],
    'Price': [55000, 15000, 2000, 60000, 25000, 15000]
}

df = pd.DataFrame(data)
print("Initial DataFrame:\n", df)

df['Total Sale'] = df['Quantity'] * df['Price']
print("\nDataFrame with Total Sale:\n", df)

high_sales_df = df[df['Total Sale'] > 1000]
print("\nOrders with Total Sale > 1000:\n", high_sales_df)

most_sold = df.groupby('Product')['Quantity'].sum().sort_values(ascending=False)
print("\nTotal Quantity Sold per Product:\n", most_sold)
most_sold_product = most_sold.idxmax()
print("\nMost Sold Product:", most_sold_product)

df['Discount'] = df['Total Sale'].apply(lambda x: 0.10*x if x > 50000 else 0.05*x)
print("\nDataFrame with Discount:\n", df)

df.to_excel('sales_summary.xlsx', index=False)
print("\nExcel file 'sales_summary.xlsx' has been created successfully.")

Initial DataFrame:
    Order ID     Product  Quantity  Price
0       101      Laptop         2  55000
1       102      Mobile         5  15000
2       103  Headphones        10   2000
3       104      Laptop         1  60000
4       105      Tablet         3  25000
5       106      Mobile         4  15000

DataFrame with Total Sale:
    Order ID     Product  Quantity  Price  Total Sale
0       101      Laptop         2  55000      110000
1       102      Mobile         5  15000       75000
2       103  Headphones        10   2000       20000
3       104      Laptop         1  60000       60000
4       105      Tablet         3  25000       75000
5       106      Mobile         4  15000       60000

Orders with Total Sale > 1000:
    Order ID     Product  Quantity  Price  Total Sale
0       101      Laptop         2  55000      110000
1       102      Mobile         5  15000       75000
2       103  Headphones        10   2000       20000
3       104      Laptop         1  60000       60000
4       105      Tablet         3  25000       75000
5       106      Mobile         4  15000       60000

Total Quantity Sold per Product:
 Product
Headphones    10
Mobile         9
Laptop         3
Tablet         3
Name: Quantity, dtype: int64

Most Sold Product: Headphones

DataFrame with Discount:
    Order ID     Product  Quantity  Price  Total Sale  Discount
0       101      Laptop         2  55000      110000   11000.0
1       102      Mobile         5  15000       75000    7500.0
2       103  Headphones        10   2000       20000    1000.0
3       104      Laptop         1  60000       60000    6000.0
4       105      Tablet         3  25000       75000    7500.0
5       106      Mobile         4  15000       60000    6000.0

Excel file 'sales_summary.xlsx' has been created successfully.