<a href="https://colab.research.google.com/github/2403A51L17/2403A51L17_Batch--51_PDS/blob/main/Lab2_Employee_salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Create DataFrame from dictionary
data = {
    "Name": ["Ravi", "Sita", "Arjun", "Priya", "Kiran"],
    "ID": [101, 102, 103, 104, 105],
    "Department": ["HR", "Finance", "IT", "Marketing", "IT"],
    "Salary": [45000, 60000, 52000, 75000, 48000]
}

df = pd.DataFrame(data)
print("Employee DataFrame:\n", df)

# Filter employees with salary > 50,000
high_salary = df[df["Salary"] > 50000]
print("\nEmployees with Salary > 50,000:\n", high_salary)

# Sort by salary in descending order
sorted_df = df.sort_values(by="Salary", ascending=False)
print("\nEmployees Sorted by Salary (Descending):\n", sorted_df)

# Add Bonus column (10% of salary)
df["Bonus"] = df["Salary"] * 0.10
print("\nDataFrame with Bonus Column:\n", df)

# Calculate total salary expense including bonuses
df["Total_with_Bonus"] = df["Salary"] + df["Bonus"]
total_expense = df["Total_with_Bonus"].sum()
print("\nTotal Salary Expense including Bonuses:", total_expense)

# Save DataFrame to CSV
df.to_csv("employee_salary_analysis.csv", index=False)
print("\nDataFrame saved to 'employee_salary_analysis.csv'")

Employee DataFrame:
     Name   ID Department  Salary
0   Ravi  101         HR   45000
1   Sita  102    Finance   60000
2  Arjun  103         IT   52000
3  Priya  104  Marketing   75000
4  Kiran  105         IT   48000

Employees with Salary > 50,000:
     Name   ID Department  Salary
1   Sita  102    Finance   60000
2  Arjun  103         IT   52000
3  Priya  104  Marketing   75000

Employees Sorted by Salary (Descending):
     Name   ID Department  Salary
3  Priya  104  Marketing   75000
1   Sita  102    Finance   60000
2  Arjun  103         IT   52000
4  Kiran  105         IT   48000
0   Ravi  101         HR   45000

DataFrame with Bonus Column:
     Name   ID Department  Salary   Bonus
0   Ravi  101         HR   45000  4500.0
1   Sita  102    Finance   60000  6000.0
2  Arjun  103         IT   52000  5200.0
3  Priya  104  Marketing   75000  7500.0
4  Kiran  105         IT   48000  4800.0

Total Salary Expense including Bonuses: 308000.0

DataFrame saved to 'employee_salary_analysis.csv'