<a href="https://colab.research.google.com/github/2403A51L17/2403A51L17_Batch--51_PDS/blob/main/Lab6_student_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    "Name": ["Sreeja", "Bharath", "Meena", "Ravi", "Priya", "Anil"],
    "Gender": ["M", "Male", "male", "F", "Female", "female"],
    "Age": [20, 21, 22, 20, 23, 21],
    "Marks": [85, 78, 92, 70, 88, 76]
}

df = pd.DataFrame(data)

print("ðŸ”¹ Before Cleaning:")
print(df)

df["Gender"] = df["Gender"].str.strip().str.lower()
df["Gender"] = df["Gender"].replace({
    "m": "Male",
    "male": "Male",
    "f": "Female",
    "female": "Female"
})

print("\nðŸ”¹ After Cleaning:")
print(df)

ðŸ”¹ Before Cleaning:
      Name  Gender  Age  Marks
0   Sreeja       M   20     85
1  Bharath    Male   21     78
2    Meena    male   22     92
3     Ravi       F   20     70
4    Priya  Female   23     88
5     Anil  female   21     76

ðŸ”¹ After Cleaning:
      Name  Gender  Age  Marks
0   Sreeja    Male   20     85
1  Bharath    Male   21     78
2    Meena    Male   22     92
3     Ravi  Female   20     70
4    Priya  Female   23     88
5     Anil  Female   21     76