<a href="https://colab.research.google.com/github/2403A51L17/2403A51L17_Batch--51_PDS/blob/main/Lab6_Standardizing_Categorical_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Step 1: Create a sample student dataset with inconsistent categorical labels
data = {
    "StudentID": [1, 2, 3, 4, 5, 6],
    "Name": ["Ravi", "Sita", "Arjun", "Meena", "Kiran", "Lakshmi"],
    "Gender": ["M", "Male", "male", "F", "Female", "female"],
    "Marks": [85, 90, 78, 88, 92, 75]
}

df = pd.DataFrame(data)

print("Original Dataset:")
print(df)

# Step 2: Standardize categorical data
def clean_gender(value):
    if str(value).lower() in ["m", "male"]:
        return "Male"
    elif str(value).lower() in ["f", "female"]:
        return "Female"
    else:
        return "Unknown"

df["Gender"] = df["Gender"].apply(clean_gender)

print("\nCleaned Dataset:")
print(df)