<a href="https://colab.research.google.com/github/2403A51L17/2403A51L17_Batch--51_PDS/blob/main/Lab_4_student_marks_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_csv("student_scores.csv")
print("Original Dataset:")
print(df, "\n")

df_filled = df.fillna(df.mean(numeric_only=True))
print("After Filling Missing Values with Column Average:")
print(df_filled, "\n")

high_achievers = df_filled[
    (df_filled["Math"] > 75) &
    (df_filled["Science"] > 75) &
    (df_filled["English"] > 75)
]
print("High Achievers (Scored > 75 in all subjects):")
print(high_achievers)

Original Dataset:
   Student_ID     Name  Math  Science  English
0           1     Anil  85.0     90.0     78.0
1           2   Sruthi  72.0      NaN     88.0
2           3     Ravi  95.0     80.0      NaN
3           4    Deepa  60.0     70.0     65.0
4           5    Meena   NaN     85.0     92.0
5           6  Karthik  78.0     79.0     76.0
6           7   Sreeja  88.0     95.0     91.0
7           8    Arjun  90.0      NaN     83.0
8           9    Divya  66.0     74.0     70.0
9          10   Vikram   NaN     88.0     80.0

After Filling Missing Values with Column Average:
   Student_ID     Name   Math  Science    English
0           1     Anil  85.00   90.000  78.000000
1           2   Sruthi  72.00   82.625  88.000000
2           3     Ravi  95.00   80.000  80.333333
3           4    Deepa  60.00   70.000  65.000000
4           5    Meena  79.25   85.000  92.000000
5           6  Karthik  78.00   79.000  76.000000
6           7   Sreeja  88.00   95.000  91.000000
7           8    Arjun  90.00   82.625  83.000000
8           9    Divya  66.00   74.000  70.000000
9          10   Vikram  79.25   88.000  80.000000

High Achievers (Scored > 75 in all subjects):
   Student_ID     Name   Math  Science    English
0           1     Anil  85.00   90.000  78.000000
2           3     Ravi  95.00   80.000  80.333333
4           5    Meena  79.25   85.000  92.000000
5           6  Karthik  78.00   79.000  76.000000
6           7   Sreeja  88.00   95.000  91.000000
7           8    Arjun  90.00   82.625  83.000000
9          10   Vikram  79.25   88.000  80.000000